@{
	Layout = "_LayoutOff";
	ViewData["Title"] = "Login";
}

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email ou Login</label>
        <input type="text" class="form-control" id="Login">
    </div>
    <div class="mb-3">
        <label for="Senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="Senha">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>