@model RecuperarSenhaModel
@{
    Layout = "_LayoutOff";
    ViewData["Title"] = "Recuperar Senha";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
<div class="container">
    <div class="box mt-3">
        <div class="container-login" style="padding: 0; margin: 0;">
            <form asp_controller="Login" asp-action="LinkRecuperar" method="post">
                <div class="m-3">
                    <label for="Login" class="form-label">Email ou Login</label>
                    <input type="text" asp-for="Login" class="form-control" id="Login">
                    @Html.ValidationMessageFor(x => x.Login)
                </div>
                <div class="m-3">
                    <label for="Email" class="form-label">Digite o E=mail</label>
                    <input type="text" asp-for="Email" class="form-control" id="Email">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <button type="submit" class="btn btn-primary mb-3">Entrar</button>
            </form>
        </div>
    </div>
</div>
