@model ProdutoModel
@{
	ViewData["Title"] = "Cadastro de Produtos";
}

<div class="text-center">
	<h1 class="display-4">Cadastro de Produtos</h1>
	<p>Projeto Thot</p>
</div>

<div class="container">
	<form class="mt-3 mb-3 ml-3 mr-3" asp-controller="Produto" asp-action="Criar" method="POST">
		<!-- Inicio Formulário -->
		<div class="form-group ">

			<!-- Nome e Código do Produto -->
			<div class="row justify-content-center mt-2">
				<div class="col-sm-7">
					<label for="Nome">Nome do Produto</label>
					<input type="text" asp-for="Nome" class="form-control">
					@Html.ValidationMessageFor(x => x.Nome)
				</div>

				<div class="col-sm-4">
					<label for="Codigo">Código do Produto</label>
					<input type="text" asp-for="Codigo" class="form-control" maxlength="6">
					@Html.ValidationMessageFor(x => x.Codigo)
				</div>
			</div>

			<!-- Unidade de Medida e Descrição -->
			<div class="row justify-content-center mt-2">
				<div class="col-sm-4">
					<label for="UnidadeMedida">Unidade de Medida</label>
					<input type="text" asp-for="UnidadeMedida" class="form-control">
					@Html.ValidationMessageFor(x => x.UnidadeMedida)
				</div>

				<div class="col-sm-7">
					<label for="Descricao">Descrição do Produto</label>
					<input type="text" asp-for="Descricao" class="form-control">
					@Html.ValidationMessageFor(x => x.Descricao)
				</div>
			</div>

			<hr />

			<!-- Botões -->
			<div class="form-row mt-3 d-flex justify-content-between">
				<div>
					<a class="btn btn-warning" asp-controller="Home" asp-action="Index">Voltar</a>
				</div>
				<div>
					<button type="reset" class="btn btn-primary">Limpar</button>
				</div>
				<div>
					<button type="submit" class="btn btn-success">Adicionar</button>
				</div>
			</div>
		</div>
	</form>
</div>
